# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node / Next.js
**/node_modules/
**/.next/
**/out/
**/dist/
*.local

# Python / Django
**/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.sqlite3-journal
*.db
**/venv/
**/.venv/

# Scraped / Dynamic Media Assets (Optional: Un-comment to prevent repo bloat)
frontend/public/products/

# Environment Files
.env
.env.*
!.env.example

# IDE / System
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store

# Misc
.config/

# Next.js specific
*.tsbuildinfo
next-env.d.ts
**/.vercel/

# Testing
**/coverage/

# Misc
*.pem